import streamlit as st

# ---------------- PAGE CONFIG ---------------- #
st.set_page_config(
    page_title="AeroMind AI",
    page_icon="✈️",
    layout="wide",
)

# ---------------- SIDEBAR ---------------- #
st.sidebar.title("✈ AeroMind AI")

page = st.sidebar.radio(
    "Navigation",
    [
        "Dashboard",
        "Aircraft Designer",
        "Compare Airfoils",
        "AI Engineer",
        "About"
    ]
)

# ---------------- HOME ---------------- #
if page == "Dashboard":

    st.title("✈ AeroMind AI")

    st.caption("AI-Powered Airfoil Recommendation & Aerodynamic Analysis Platform")

    st.divider()

    col1, col2, col3, col4 = st.columns(4)

    col1.metric("Airfoils", "45")
    col2.metric("Aircraft Types", "12")
    col3.metric("AI Confidence", "96%")
    col4.metric("System Status", "Online")

    st.divider()

    left, right = st.columns([2,1])

    with left:

        st.subheader("Welcome")

        st.write("""
AeroMind AI helps engineers and students choose the most suitable
airfoil for their aircraft.

The platform combines:

- AI recommendations
- Aerodynamic analysis
- Airfoil database
- Performance prediction
- Engineering reports
""")

    with right:

        st.info("""
Project Status

✅ AI Engine

✅ Dashboard

🟡 Airflow Simulation

🟡 Report Generator

🟡 Airfoil Viewer
""")

elif page == "Aircraft Designer":

    st.title("Aircraft Designer")

elif page == "Compare Airfoils":

    st.title("Compare Airfoils")

elif page == "AI Engineer":

    st.title("AI Engineer")

elif page == "About":

    st.title("About AeroMind AI")

    st.write("Version 1.0")